@import "colors";

.home {
  height: 100vh;
  overflow-x: hidden;

  div {
    padding-left: 8rem;
    padding-top: 15rem;
    > h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }
    > p {
      font-size: 1.2rem;
    }
  }
  > a {
    display: block;
    margin: 2rem 8rem;
    width: 10rem;
    background-color: $green;
    color: white;
    text-align: center;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background-color: $darkgreen;
    }
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0%;
    z-index: -1;
  }

  @media screen and (max-width: 1200px) {
    div {
      > h1 {
        font-size: 3.5rem;
      }
    }
  }

  @media screen and (max-width: 992px) {
    div {
      > h1 {
        font-size: 3rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    div {
      > h1 {
        font-size: 2.5rem;
      }
    }
  }

  @media screen and (max-width: 600px) {
    div {
      text-align: center;
      padding-top: 10rem;
      padding-left: 0rem;
      > h1 {
        font-size: 2rem;
      }
    }
    > a {
      margin: 2rem auto;
    }
  }
}
